In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score , confusion_matrix,classification_report

In [2]:
df=pd.read_csv('E:/NTI/car_data.csv')
print(df.shape)
df.head()

(1000, 5)

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

In [3]:
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})

In [4]:
X=df.iloc[:,0:4]
X

     User ID  Gender  Age  AnnualSalary
0        385       1   35         20000
1        681       1   40         43500
2        353       1   49         74000
3        895       1   40        107500
4        661       1   25         79000
..       ...     ...  ...           ...
995      863       1   38         59000
996      800       0   47         23500
997      407       0   28        138500
998      299       0   48        134000
999      687       0   44         73500

[1000 rows x 4 columns]

In [5]:
y=df.iloc[:,4]
y

0      0
1      0
2      0
3      1
4      0
      ..
995    0
996    0
997    1
998    1
999    0
Name: Purchased, Length: 1000, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=81)

In [7]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(X_train, y_train )
y_predict=logreg.predict(X_test)

In [16]:
y_pred_proba = logreg.predict_proba(X_test)

In [17]:
y_pred_proba[0:5]

array([[0.19478775, 0.80521225],
       [0.59507819, 0.40492181],
       [0.7639336 , 0.2360664 ],
       [0.27873917, 0.72126083],
       [0.55758592, 0.44241408]])

In [18]:
from sklearn.metrics import log_loss
loss_sckit=log_loss(y_test,y_pred_proba)
loss_sckit

0.34385555707530274

In [19]:
from keras.utils import to_categorical
y_test_cat=to_categorical(y_test)

In [20]:
loss = (-y_test_cat * np.log(y_pred_proba) - (1 - y_test_cat) * np.log(1 - y_pred_proba)).mean()
loss

0.34385555707530274

In [21]:
print("acc:", accuracy_score(y_test,y_predict))

acc: 0.856

In [22]:
confusion_matrix(y_test,y_predict)

array([[143,  15],
       [ 21,  71]], dtype=int64)

In [ ]:
print(classification_report(y_test,y_predict))