In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split ,cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('E:/NTI/auto-mpg_without nan.csv')
print(df.shape)
df.head()

(392, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,1970,USA,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,1970,USA,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,1970,USA,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,1970,USA,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,1970,USA,ford torino

In [3]:
y=df.iloc[:,0:1]
y

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
387  27.0
388  44.0
389  32.0
390  28.0
391  31.0

[392 rows x 1 columns]

In [4]:
X=df.iloc[:,1:7]
X

     cylinders  displacement  horsepower  weight  acceleration  year
0            8         307.0         130    3504          12.0  1970
1            8         350.0         165    3693          11.5  1970
2            8         318.0         150    3436          11.0  1970
3            8         304.0         150    3433          12.0  1970
4            8         302.0         140    3449          10.5  1970
..         ...           ...         ...     ...           ...   ...
387          4         140.0          86    2790          15.6  1982
388          4          97.0          52    2130          24.6  1982
389          4         135.0          84    2295          11.6  1982
390          4         120.0          79    2625          18.6  1982
391          4         119.0          82    2720          19.4  1982

[392 rows x 6 columns]

In [5]:
df.drop('origin', axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   name          392 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 24.6+ KB

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=20)

In [8]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [9]:
from sklearn.linear_model import LinearRegression
regr=LinearRegression()
regr.fit(X_train_scaled, y_train)
y_pred = regr.predict(X_test_scaled)
from sklearn.metrics import r2_score
test_acc=r2_score(y_test,y_pred)
print("test_acc",test_acc)
train_acc=regr.score(X_train_scaled,y_train)
print("train_acc",train_acc)
from sklearn.metrics import mean_squared_error

train_loss = mean_squared_error(y_train, regr.predict(X_train_scaled))
test_loss = mean_squared_error(y_test, y_pred)
print("mean sq_train",train_loss)
print("mean sq_train",test_loss)

test_acc 0.8438088008257665
train_acc 0.7992164617041558
mean sq_train 11.966588170607764
mean sq_train 10.140282022149044

In [17]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error

knn_regr = KNeighborsRegressor(n_neighbors=5)
knn_regr.fit(X_train_scaled, y_train)

y_pred = knn_regr.predict(X_test_scaled)

test_acc = r2_score(y_test, y_pred)
print("test_acc", test_acc)

train_acc = knn_regr.score(X_train_scaled, y_train)
print("train_acc", train_acc)

train_loss = mean_squared_error(y_train, knn_regr.predict(X_train_scaled))
test_loss = mean_squared_error(y_test, y_pred)
print("mean sq_train", train_loss)
print("mean sq_test", test_loss)

test_acc 0.9283519074796643
train_acc 0.8967410092175641
mean sq_train 6.154178913738019
mean sq_test 4.651554430379748

In [22]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor

score_list = []

for k in range(1, 50, 2):
    knn_regr = KNeighborsRegressor(n_neighbors=k)
    scores = cross_val_score(knn_regr, X_train_scaled, y_train, cv=10, scoring='r2')  
    mean_score = scores.mean().round(2)
    score_list.append(mean_score)
    print(f"k = {k:<2}     Score = {mean_score}")

k = 1      Score = 0.74
k = 3      Score = 0.84
k = 5      Score = 0.85
k = 7      Score = 0.84
k = 9      Score = 0.84
k = 11     Score = 0.84
k = 13     Score = 0.84
k = 15     Score = 0.83
k = 17     Score = 0.83
k = 19     Score = 0.83
k = 21     Score = 0.83
k = 23     Score = 0.83
k = 25     Score = 0.82
k = 27     Score = 0.82
k = 29     Score = 0.82
k = 31     Score = 0.82
k = 33     Score = 0.82
k = 35     Score = 0.82
k = 37     Score = 0.81
k = 39     Score = 0.81
k = 41     Score = 0.81
k = 43     Score = 0.81
k = 45     Score = 0.8
k = 47     Score = 0.8
k = 49     Score = 0.8

In [15]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score, mean_squared_error

# Ø¥Ù†Ø´Ø§Ø¡ Ø§Ù„Ù†Ù…ÙˆØ°Ø¬
svr = SVR(kernel='linear')  
svr.fit(X_train_scaled, y_train)

y_pred = svr.predict(X_test_scaled)

test_acc = r2_score(y_test, y_pred)
print("test_acc:", test_acc)

train_acc = svr.score(X_train_scaled, y_train)
print("train_acc:", train_acc)

train_loss = mean_squared_error(y_train, svr.predict(X_train_scaled))
test_loss = mean_squared_error(y_test, y_pred)
print("mean sq_train:", train_loss)
print("mean sq_test:", test_loss)

test_acc: 0.8035021236937301
train_acc: 0.7625318218433865
mean sq_train: 14.152972478439112
mean sq_test: 12.757081660383596

C:\Users\DELL\anaconda3\envs\tf\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score, mean_squared_error

svr = SVR(kernel='rbf')  
svr.fit(X_train_scaled, y_train)

y_pred = svr.predict(X_test_scaled)


test_acc = r2_score(y_test, y_pred)
print("test_acc:", test_acc)

train_acc = svr.score(X_train_scaled, y_train)
print("train_acc:", train_acc)


train_loss = mean_squared_error(y_train, svr.predict(X_train_scaled))
test_loss = mean_squared_error(y_test, y_pred)
print("mean sq_train:", train_loss)
print("mean sq_test:", test_loss)

test_acc: 0.8692197554398474
train_acc: 0.8502388364708888
mean sq_train: 8.925682768192408
mean sq_test: 8.490546008845433

C:\Users\DELL\anaconda3\envs\tf\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)