In [29]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score , confusion_matrix,classification_report

In [2]:
df=pd.read_csv("E:/NTI/Heart.csv")
print(df.shape)
df.head()

(303, 15)

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [16]:
df = df.astype({col: float for col in df.select_dtypes(include='int').columns})

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    float64
 1   Sex        303 non-null    float64
 2   ChestPain  303 non-null    float64
 3   RestBP     303 non-null    float64
 4   Chol       303 non-null    float64
 5   Fbs        303 non-null    float64
 6   RestECG    303 non-null    float64
 7   MaxHR      303 non-null    float64
 8   ExAng      303 non-null    float64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    float64
 11  Ca         303 non-null    float64
 12  Thal       303 non-null    float64
 13  AHD        303 non-null    float64
dtypes: float64(14)
memory usage: 33.3 KB

In [8]:
df['Ca'].fillna(df['Ca'].mean(), inplace=True)

In [ ]:
df.info()

In [18]:
df['AHD'].unique()

array([0., 1.])

In [19]:
df["Thal"].unique()

array([0., 1., 2., 3.])

In [12]:
df['Thal'] = df['Thal'].fillna('unknown')

In [14]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for col in df.select_dtypes(include='object').columns:
    df[col] = label_encoder.fit_transform(df[col].astype(str))

In [ ]:
##MODEL

In [23]:
y=df.iloc[:,13:14]
y

     AHD
0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
..   ...
298  1.0
299  1.0
300  1.0
301  1.0
302  0.0

[303 rows x 1 columns]

In [24]:
X=df.iloc[:,0:13]
X

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
0,63.0,1.0,3.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.000000,0.0
1,67.0,1.0,0.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.000000,1.0
2,67.0,1.0,0.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.000000,2.0
3,37.0,1.0,1.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.000000,1.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,3.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.000000,2.0
299,68.0,1.0,0.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.000000,2.0
300,57.0,1.0,0.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.000000,2.0
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.000000,1.0
302,38.0,1.0,1.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,0.672241,1.0

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=100)

In [35]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [36]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(X_train_scaled, y_train )
y_predict=logreg.predict(X_test_scaled)

C:\Users\DELL\anaconda3\envs\tf\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
print("acc:", accuracy_score(y_test,y_predict))

acc: 0.881578947368421

In [38]:
train_acc=logreg.score(X_train_scaled,y_train)
train_acc

0.8325991189427313